################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exercicio API/.vs
/Exercicio API/ExercicioAPI/bin/Debug/net7.0
/Exercicio API/ExercicioAPI/obj
